/* * {
    outline: 1px solid rgba(255, 0, 0, 0.5); 
} */

body {
  font-family: Helvetica;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

h1 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 100;
    font-size: 34px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

h3 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

/* horizontal line */
hr {
    width: 80%;
    max-width: 600px;
    color: rgb(0, 0, 0, 0.1);
}

.body-hr {
    display: flex;
    width:  50%;
    /* color: rgb(0, 0, 0, 0.5); */
}

/*  =================
    NEWS LIST STYLING
    ================= */
.news-list {
    display: flex;
    font-size: 12pt;
    font-weight: lighter;
    padding-left: 10%;
    padding-right: 10%;
}

/* styling for news-list items */
.news-list ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/*  =================
    DROPDOWN STYLING
    ================= */
/* main items */
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
    justify-content: center;
}

/* each item in horizontal list */
.nav-item {
    position: relative;
    font-size: 14pt;
    font-weight: lighter;
}

/* dropdown initial state */
.dropdown {
    position: absolute;
    list-style: none;
    left: -50%;
    top: 100%;
    margin-top: 0;
    padding-top: 10px;
    background: white;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* slide dropdown menu into place */
.nav-item:hover .dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* indiv items in dropdown list */
.dropdown-item {
    list-style: none;
    font-size: 12pt;
    padding: 10px 0px;
}

/* drop down item scaling animation */
.dropdown-item a {
    display: block; /* ensures transform works properly */
    transition: transform 0.1s ease;
}

.dropdown-item a:hover {
    transform: scale(1.5); /* enlarges item */
}

/* turn off styling for links within nav */
.nav a {
    text-decoration: none;
    color: inherit;
}

/*  =================
    PUBLICATION STYLING
    ================= */
.publication-text {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12pt;
    font-weight: lighter;
}

/*  =================
    PRESENTATION STYLING
    ================= */
.presentation-container > div {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    font-size: 12pt;
    font-weight: lighter;
}

.presentation-image img {
    width: 100%;         
    max-width: 500px;    
    height: auto;        
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

.presentation-text {
    flex: 1; 
    text-align: center;
}

/* FOOTER */
footer a {
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0; 
    border-top: 1px solid #ccc; 
}