/* * {
    outline: 1px solid rgba(255, 0, 0, 0.5); 
} */

body {
  font-family: Helvetica;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

h1 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 100;
    font-size: 34px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

h3 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

/* horizontal line */
hr {
    width: 80%;
    max-width: 600px;
    color: rgb(0, 0, 0, 0.1);
}

.body-hr {
    display: flex;
    width:  50%;
    /* color: rgb(0, 0, 0, 0.5); */
}

/*  =================
    SLIDESHOW STYLING
    ================= */

.slideshow-container {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 300px;     
    margin: 100px auto; 
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: auto;
    transition: all 2s ease;
    opacity: 0;
}

.slide.active {
    left: 0;
    opacity: 1;
}

.slide.exit-left {
    left: 100%;
    opacity: 0;
}


/*  =================
    NEWS LIST STYLING
    ================= */
.news-list {
    display: flex;
    font-size: 12pt;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    max-width: 700px;
}

/* styling for news-list items */
.news-list ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/*  =================
    DROPDOWN STYLING
    ================= */
/* main items */
.nav-list {
    display: flex;
    position: relative;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
    justify-content: center;
}

/* each item in horizontal list */
.nav-item {
    position: relative;
    font-size: 14pt;
    font-weight: lighter;
    transition: transform 0.15s ease;
}

/* scale parent items */
.nav-item:hover {
    transform: scale(1.1);
}

/* dropdown initial state */
.dropdown {
    position: absolute;
    top: 100%;
    transform: translateX(-50%); 
    margin: 0;
    padding-top: 5px;
    padding-left: 0;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

/* slide dropdown menu into place */
.nav-item:hover .dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* indiv items in dropdown list */
.dropdown-item {
    list-style: none;
    font-size: 10pt;
    padding: 5px 0px;
}

/* drop down item scaling animation */
.dropdown-item a {
    display: block; 
    transition: transform 0.1s ease;
    white-space: nowrap;
    transform-origin: left center;
}

.dropdown-item a:hover {
    transform: scale(1.1); /* enlarges item */
}

/* turn off styling for links within nav */
.nav a {
    text-decoration: none;
    color: inherit;
}

/*  =================
    PUBLICATION STYLING
    ================= */
.publication-text {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12pt;
    font-weight: lighter;
    margin: 0 auto;
    max-width: 700px;
}

/*  =================
    PRESENTATION STYLING
    ================= */
.presentation-container > div {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    font-size: 12pt;
    font-weight: lighter;
}

.presentation-image img {
    width: 100%;         
    max-width: 500px;    
    height: auto;        
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

.presentation-text {
    flex: 1; 
    text-align: center;
}

/* FOOTER */
footer a {
    text-decoration: none;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0; 
    border-top: 1px solid #ccc; 
}

/*  =================
    ABOUT STYLING
    ================= */

.about {
    display: flex;
    flex-direction: column;
    margin: 20px 10% 20px 10%;
    font-weight: lighter;
    max-width: 700px;
}

.about-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 10px;
}

.bio {
    text-align: center;
    margin-bottom: 30px;
}

.school-info {
    margin: 40px 0 40px 0;
}

.school-row {
    display: flex;
    gap: 40px;
    margin: 0 10% 30px 10%; /* top, right, bottom, left */
}

.label {
    font-weight: bolder;
    text-align: right;
    min-width: 120px;
    /* font-size: 10pt; */
}

.text {
    flex: 1;
    text-align: right;
    margin-left: 30px;
    /* font-size: 10pt; */
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/*  =================
    MUSIC STYLING
    ================= */

.music-container {
    display: flex;
    max-width: 400px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    font-weight: lighter;
}

.song-text {
    text-align: center;
}