/* * {
    outline: 1px solid rgba(255, 0, 0, 0.5); 
} */

body {
  font-family: Helvetica;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

a {
    color: inherit;
}

h1 {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 100;
    font-size: 34px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

h3 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

/* horizontal line */
hr {
    width: 400px;
    color: rgb(0, 0, 0, 0.1);
}

/* new-list text */
.news-list {
    display: flex;
    font-size: 12pt;
    font-weight: lighter;
    padding-left: 10%;
    padding-right: 10%;
}

/* styling for news-list items */
.news-list ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav {
  width: 100%;
}

/* top-level nav menu */
nav ul {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0px;
    gap: 30px;
    position: relative;
    font-size: 20px;
    height: 70px;
}

/* Targets each top-level item */
nav ul li {
    position: relative;
}

/* Submenu styling */
nav ul ul {
    gap: 10px;
    display: flex;
    font-size: 16px;
    font-weight: lighter;
    flex-direction: column; 
    position: absolute;
    left: 0;
    background: white;
    list-style: none;
    min-width: 150px;
    z-index: 1000;

    opacity: 0;
    transform: translateY(-10px); /* start slightly above */
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none; /* prevents hovering invisible menu */
}

/* animate dropdown menu */
nav ul li:hover > ul {
    opacity: 1;
    transform: translateY(0); /* move into place */
    pointer-events: auto; /* enable interaction */
}

/* animations for mouse over */
nav ul ul li {
    transform: scale(1);
    transform-origin: left center;
    transition: transform 0.2s ease;
}

nav ul ul li:hover {
    /* background-color: #f0f0f0;  */
    transform: scale(1.5);
    transform-origin: left center;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* PUBLICATION STYLING */
.publication-text {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 12pt;
    font-weight: lighter;
}

.publication-hr {
    display: flex;
    width:  50%;
    /* color: rgb(0, 0, 0, 0.5); */
}

/* PRESENTATION STYLING */
.presentation-container {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    font-size: 12pt;
    font-weight: lighter;
}

.presentation-image img {
    width: 100%;         
    max-width: 500px;    
    height: auto;        
    border: 2px solid black;
    border-radius: 5px;
}

.presentation-text {
    flex: 1; 
    text-align: center;
}